# Foursquare

In [140]:
# imports
import requests
from IPython.display import JSON
import pandas as pd
import os
import numpy as np

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [142]:
api_key=os.environ['forsquare_key']
url ='https://api.foursquare.com/v3/places/search'
#url='https://foursquare.com/explore?mode=url&ne=43.909766%2C-78.949471&q=Food&sw=43.513203%2C-79.788551&radius=1000'

In [143]:
# Create dictionary for headers
headers = {
        'accept': 'application/json',
        'Authorization':api_key
    }
parameters = {
        'll': '43.653226,-79.3831843',
        'radius':'10000',
        'categories':13065,
        'fields':'name,distance,rating,location'
    }

# Add key with our API KEY
result = requests.get(url, headers=headers,params=parameters)
result=result.json()
result
#result['results']['categories']
#response['network']['stations'][1]
#result['results'][0]
#result['results'][1]
#result = pd.DataFrame()
#result.head()

{'results': [{'distance': 731,
   'location': {'address': '18 Duncan St',
    'country': 'CA',
    'cross_street': 'Adelaide and Duncan',
    'formatted_address': '18 Duncan St (Adelaide and Duncan), Toronto ON M5H 3G8',
    'locality': 'Toronto',
    'postcode': 'M5H 3G8',
    'region': 'ON'},
   'name': 'Pai',
   'rating': 9.2},
  {'distance': 543,
   'location': {'address': '245 Queen St W',
    'country': 'CA',
    'cross_street': 'at St Patrick St',
    'formatted_address': '245 Queen St W (at St Patrick St), Toronto ON M5V 1Z4',
    'locality': 'Toronto',
    'postcode': 'M5V 1Z4',
    'region': 'ON'},
   'name': 'HotBlack Coffee',
   'rating': 9.0},
  {'distance': 367,
   'location': {'address': '165 York St',
    'country': 'CA',
    'cross_street': 'btwn Richmond St. & Adelaide St.',
    'formatted_address': '165 York St (btwn Richmond St. & Adelaide St.), Toronto ON M5H 3R8',
    'locality': 'Toronto',
    'postcode': 'M5H 3R8',
    'region': 'ON'},
   'name': 'The Keg Steakhouse + Bar',
   'rating': 8.8},
  {'distance': 634,
   'location': {'address': '281 Dundas St W',
    'country': 'CA',
    'cross_street': 'St Patrick And Dundas St W',
    'formatted_address': '281 Dundas St W (St Patrick And Dundas St W), Toronto ON M5T 1G1',
    'locality': 'Toronto',
    'postcode': 'M5T 1G1',
    'region': 'ON'},
   'name': 'The Library Specialty Coffee',
   'rating': 8.9},
  {'distance': 527,
   'location': {'address': '165 University Ave',
    'country': 'CA',
    'cross_street': 'Adelaide St W',
    'formatted_address': '165 University Ave (Adelaide St W), Toronto ON M5H 3B8',
    'locality': 'Toronto',
    'postcode': 'M5H 3B8',
    'region': 'ON'},
   'name': 'Cafe Landwer',
   'rating': 8.7},
  {'distance': 1154,
   'location': {'address': '161 Frederick St',
    'address_extended': 'Unit 100',
    'country': 'CA',
    'cross_street': 'at King St E',
    'formatted_address': '161 Frederick St (at King St E), Toronto ON M5A 4P3',
    'locality': 'Toronto',
    'postcode': 'M5A 4P3',
    'region': 'ON'},
   'name': 'Neo Coffee Bar',
   'rating': 9.0},
  {'distance': 829,
   'location': {'address': '161 Bay St',
    'country': 'CA',
    'cross_street': '',
    'formatted_address': '161 Bay St, Toronto ON M5J 2S1',
    'locality': 'Toronto',
    'postcode': 'M5J 2S1',
    'region': 'ON'},
   'name': 'Chotto Matte',
   'rating': 8.8},
  {'distance': 714,
   'location': {'address': '187 Bay St',
    'country': 'CA',
    'cross_street': 'Wellington St W',
    'formatted_address': '187 Bay St (Wellington St W), Toronto ON M5L 1G5',
    'locality': 'Toronto',
    'postcode': 'M5L 1G5',
    'region': 'ON'},
   'name': 'Walrus Pub & Beer Hall',
   'rating': 8.7},
  {'distance': 871,
   'location': {'address': '52 Wellington St E',
    'country': 'CA',
    'cross_street': 'at Church St',
    'formatted_address': '52 Wellington St E (at Church St), Toronto ON M5E 1C7',
    'locality': 'Toronto',
    'postcode': 'M5E 1C7',
    'region': 'ON'},
   'name': 'Sukho Thai',
   'rating': 8.7},
  {'distance': 426,
   'location': {'address': '77 Adelaide St W',
    'country': 'CA',
    'cross_street': 'btwn Bay & York St',
    'formatted_address': '77 Adelaide St W (btwn Bay & York St), Toronto ON M5H 1P9',
    'locality': 'Toronto',
    'postcode': 'M5H 1P9',
    'region': 'ON'},
   'name': 'Cactus Club Cafe',
   'rating': 8.5}],
 'context': {'geo_bounds': {'circle': {'center': {'latitude': 43.653226,
     'longitude': -79.3831843},
    'radius': 10000}}}}

In [144]:
for poi in result['results']:
  print(poi['name'])
  # or whatever you want to do

Pai
HotBlack Coffee
The Keg Steakhouse + Bar
The Library Specialty Coffee
Cafe Landwer
Neo Coffee Bar
Chotto Matte
Walrus Pub & Beer Hall
Sukho Thai
Cactus Club Cafe

In [145]:
try:
  for poi in result['results']:
    print(poi['name'])
except:
  print(result['name'])

Pai
HotBlack Coffee
The Keg Steakhouse + Bar
The Library Specialty Coffee
Cafe Landwer
Neo Coffee Bar
Chotto Matte
Walrus Pub & Beer Hall
Sukho Thai
Cactus Club Cafe

In [146]:
for poi in result['results']:
  print(poi['name'])
  try:print(poi['rating'])
  except:print('no rating')

Pai
9.2
HotBlack Coffee
9.0
The Keg Steakhouse + Bar
8.8
The Library Specialty Coffee
8.9
Cafe Landwer
8.7
Neo Coffee Bar
9.0
Chotto Matte
8.8
Walrus Pub & Beer Hall
8.7
Sukho Thai
8.7
Cactus Club Cafe
8.5

In [147]:
for poi in result['results']:
  print(poi['name'])
  try:print(poi['distance'])
  except:print('no rating')

Pai
731
HotBlack Coffee
543
The Keg Steakhouse + Bar
367
The Library Specialty Coffee
634
Cafe Landwer
527
Neo Coffee Bar
1154
Chotto Matte
829
Walrus Pub & Beer Hall
714
Sukho Thai
871
Cactus Club Cafe
426

In [148]:
result

{'results': [{'distance': 731,
   'location': {'address': '18 Duncan St',
    'country': 'CA',
    'cross_street': 'Adelaide and Duncan',
    'formatted_address': '18 Duncan St (Adelaide and Duncan), Toronto ON M5H 3G8',
    'locality': 'Toronto',
    'postcode': 'M5H 3G8',
    'region': 'ON'},
   'name': 'Pai',
   'rating': 9.2},
  {'distance': 543,
   'location': {'address': '245 Queen St W',
    'country': 'CA',
    'cross_street': 'at St Patrick St',
    'formatted_address': '245 Queen St W (at St Patrick St), Toronto ON M5V 1Z4',
    'locality': 'Toronto',
    'postcode': 'M5V 1Z4',
    'region': 'ON'},
   'name': 'HotBlack Coffee',
   'rating': 9.0},
  {'distance': 367,
   'location': {'address': '165 York St',
    'country': 'CA',
    'cross_street': 'btwn Richmond St. & Adelaide St.',
    'formatted_address': '165 York St (btwn Richmond St. & Adelaide St.), Toronto ON M5H 3R8',
    'locality': 'Toronto',
    'postcode': 'M5H 3R8',
    'region': 'ON'},
   'name': 'The Keg Steakhouse + Bar',
   'rating': 8.8},
  {'distance': 634,
   'location': {'address': '281 Dundas St W',
    'country': 'CA',
    'cross_street': 'St Patrick And Dundas St W',
    'formatted_address': '281 Dundas St W (St Patrick And Dundas St W), Toronto ON M5T 1G1',
    'locality': 'Toronto',
    'postcode': 'M5T 1G1',
    'region': 'ON'},
   'name': 'The Library Specialty Coffee',
   'rating': 8.9},
  {'distance': 527,
   'location': {'address': '165 University Ave',
    'country': 'CA',
    'cross_street': 'Adelaide St W',
    'formatted_address': '165 University Ave (Adelaide St W), Toronto ON M5H 3B8',
    'locality': 'Toronto',
    'postcode': 'M5H 3B8',
    'region': 'ON'},
   'name': 'Cafe Landwer',
   'rating': 8.7},
  {'distance': 1154,
   'location': {'address': '161 Frederick St',
    'address_extended': 'Unit 100',
    'country': 'CA',
    'cross_street': 'at King St E',
    'formatted_address': '161 Frederick St (at King St E), Toronto ON M5A 4P3',
    'locality': 'Toronto',
    'postcode': 'M5A 4P3',
    'region': 'ON'},
   'name': 'Neo Coffee Bar',
   'rating': 9.0},
  {'distance': 829,
   'location': {'address': '161 Bay St',
    'country': 'CA',
    'cross_street': '',
    'formatted_address': '161 Bay St, Toronto ON M5J 2S1',
    'locality': 'Toronto',
    'postcode': 'M5J 2S1',
    'region': 'ON'},
   'name': 'Chotto Matte',
   'rating': 8.8},
  {'distance': 714,
   'location': {'address': '187 Bay St',
    'country': 'CA',
    'cross_street': 'Wellington St W',
    'formatted_address': '187 Bay St (Wellington St W), Toronto ON M5L 1G5',
    'locality': 'Toronto',
    'postcode': 'M5L 1G5',
    'region': 'ON'},
   'name': 'Walrus Pub & Beer Hall',
   'rating': 8.7},
  {'distance': 871,
   'location': {'address': '52 Wellington St E',
    'country': 'CA',
    'cross_street': 'at Church St',
    'formatted_address': '52 Wellington St E (at Church St), Toronto ON M5E 1C7',
    'locality': 'Toronto',
    'postcode': 'M5E 1C7',
    'region': 'ON'},
   'name': 'Sukho Thai',
   'rating': 8.7},
  {'distance': 426,
   'location': {'address': '77 Adelaide St W',
    'country': 'CA',
    'cross_street': 'btwn Bay & York St',
    'formatted_address': '77 Adelaide St W (btwn Bay & York St), Toronto ON M5H 1P9',
    'locality': 'Toronto',
    'postcode': 'M5H 1P9',
    'region': 'ON'},
   'name': 'Cactus Club Cafe',
   'rating': 8.5}],
 'context': {'geo_bounds': {'circle': {'center': {'latitude': 43.653226,
     'longitude': -79.3831843},
    'radius': 10000}}}}

In [149]:
for poi in result['results']:
  # now we can iterate through every station
  print(poi['distance'])
for poi in result['results']:
  # now we can iterate through every station
  print(poi['rating'])
for poi in result['results']:
  # now we can iterate through every station
  print(poi['location']['address'])

731
543
367
634
527
1154
829
714
871
426
9.2
9.0
8.8
8.9
8.7
9.0
8.8
8.7
8.7
8.5
18 Duncan St
245 Queen St W
165 York St
281 Dundas St W
165 University Ave
161 Frederick St
161 Bay St
187 Bay St
52 Wellington St E
77 Adelaide St W

In [150]:
all_results = pd.DataFrame()
result = requests.get(url, headers=headers, params=parameters)
try:
 for poi in result['results']:
    tmp_df = pd.DataFrame()
    # This df will be constructed
    try:dist = poi['distance']
    except: dist = 0
    try:rate = poi['rating']
    except:rate = 0
    tmp_df = pd.concat([
        tmp_df,
        pd.Series(poi['name'],name='restaurant_name'),
        pd.Series(dist,name='distance'),
        pd.Series(rate,name='rating')
    ],
    axis=1 # horizontal concat
    )
    all_results = pd.concat([all_results,tmp_df])
except:
    tmp_df = pd.DataFrame()
    # This df will be constructed
    try:dist = poi['distance']
    except: dist = 0
    try:rate = poi['rating']
    except:rate = 0
    tmp_df = pd.concat([
        tmp_df,
        pd.Series(poi['name'],name='restaurant_name'),
        pd.Series(dist,name='distance'),
        pd.Series(rate,name='rating')
    ],
    axis=1 # horizontal concat
    )
    all_results = pd.concat([all_results,tmp_df])
all_results

    restaurant_name  distance  rating
0  Cactus Club Cafe       426     8.5

In [151]:
location=pd.read_csv('Location_data2h.csv')
for i in range (len(location.index)):
    print(location.iloc[i])
all_results = pd.DataFrame()
result = requests.get(url, headers=headers, params=parameters)
result=result.json()
for poi in result['results']:
    tmp_df = pd.DataFrame()
    # This df will be constructed
    try:dist = poi['distance']
    except: dist = 0
    try:rate = poi['rating']
    except:rate = 0
    tmp_df = pd.concat([
        tmp_df,
        pd.Series(poi['name'],name='restaurant_name'),
        pd.Series(dist,name='distance'),
        pd.Series(rate,name='rating'),
        pd.Series(poi['location']['address'],name='location')
    ],
    axis=1 # horizontal concat
    )
    all_results = pd.concat([all_results,tmp_df])
all_results
location

Unnamed: 0      0.000000
lat            43.665269
long          -79.319796
total_bikes    19.000000
Name: 0, dtype: float64
Unnamed: 0      0.000000
lat            43.671420
long          -79.445947
total_bikes    15.000000
Name: 1, dtype: float64
Unnamed: 0      0.000000
lat            43.666224
long          -79.317693
total_bikes    23.000000
Name: 2, dtype: float64
Unnamed: 0      0.000000
lat            43.653236
long          -79.376716
total_bikes    25.000000
Name: 3, dtype: float64
Unnamed: 0      0.000000
lat            43.663722
long          -79.380288
total_bikes    15.000000
Name: 4, dtype: float64
Unnamed: 0      0.000000
lat            43.657763
long          -79.389165
total_bikes    25.000000
Name: 5, dtype: float64
Unnamed: 0      0.000000
lat            43.656729
long          -79.382736
total_bikes    22.000000
Name: 6, dtype: float64
Unnamed: 0      0.000000
lat            43.664467
long          -79.414783
total_bikes    19.000000
Name: 7, dtype: float64
Unnamed: 0      0.000000
lat            43.675492
long          -79.388858
total_bikes    15.000000
Name: 8, dtype: float64
Unnamed: 0      0.000000
lat            43.674991
long          -79.396273
total_bikes    11.000000
Name: 9, dtype: float64
Unnamed: 0      0.000000
lat            43.671944
long          -79.387778
total_bikes    17.000000
Name: 10, dtype: float64
Unnamed: 0      0.000000
lat            43.662365
long          -79.351104
total_bikes    18.000000
Name: 11, dtype: float64
Unnamed: 0      0.000000
lat            43.646144
long          -79.377962
total_bikes    47.000000
Name: 12, dtype: float64
Unnamed: 0      0.000000
lat            43.663993
long          -79.358534
total_bikes    11.000000
Name: 13, dtype: float64
Unnamed: 0      0.000000
lat            43.657266
long          -79.374756
total_bikes    27.000000
Name: 14, dtype: float64
Unnamed: 0      0.000000
lat            43.667214
long          -79.345270
total_bikes    15.000000
Name: 15, dtype: float64
Unnamed: 0      0.000000
lat            43.673939
long          -79.441159
total_bikes    15.000000
Name: 16, dtype: float64
Unnamed: 0      0.000000
lat            43.657991
long          -79.340075
total_bikes    11.000000
Name: 17, dtype: float64
Unnamed: 0      0.000000
lat            43.667450
long          -79.329408
total_bikes    23.000000
Name: 18, dtype: float64
Unnamed: 0      0.000000
lat            43.672453
long          -79.338259
total_bikes    15.000000
Name: 19, dtype: float64
Unnamed: 0      0.000000
lat            43.659209
long          -79.334840
total_bikes    14.000000
Name: 20, dtype: float64
Unnamed: 0      0.000000
lat            43.689211
long          -79.354380
total_bikes    23.000000
Name: 21, dtype: float64
Unnamed: 0      0.000000
lat            43.655431
long          -79.380653
total_bikes    14.000000
Name: 22, dtype: float64
Unnamed: 0      0.000000
lat            43.656927
long          -79.378497
total_bikes    16.000000
Name: 23, dtype: float64
Unnamed: 0      0.000000
lat            43.661324
long          -79.449534
total_bikes    12.000000
Name: 24, dtype: float64
Unnamed: 0      0.000000
lat            43.658295
long          -79.372346
total_bikes    16.000000
Name: 25, dtype: float64
Unnamed: 0      0.000000
lat            43.694015
long          -79.288984
total_bikes    20.000000
Name: 26, dtype: float64
Unnamed: 0      0.000000
lat            43.680916
long          -79.422968
total_bikes    16.000000
Name: 27, dtype: float64
Unnamed: 0      0.000000
lat            43.691067
long          -79.395350
total_bikes    15.000000
Name: 28, dtype: float64
Unnamed: 0      0.000000
lat            43.697597
long          -79.396540
total_bikes    15.000000
Name: 29, dtype: float64
Unnamed: 0      0.000000
lat            43.639832
long          -79.395954
total_bikes    35.000000
Name: 30, dtype: float64
Unnamed: 0      0.000000
lat            43.667158
long          -79.402761
total_bikes    15.000000
Name: 31, dtype: float64
Unnamed: 0      0.000000
lat            43.667333
long          -79.399429
total_bikes    19.000000
Name: 32, dtype: float64
Unnamed: 0      0.000000
lat            43.648001
long          -79.383177
total_bikes    19.000000
Name: 33, dtype: float64
Unnamed: 0      0.000000
lat            43.656518
long          -79.389099
total_bikes    11.000000
Name: 34, dtype: float64
Unnamed: 0      0.000000
lat            43.658148
long          -79.398167
total_bikes    19.000000
Name: 35, dtype: float64
Unnamed: 0      0.000000
lat            43.687999
long          -79.389060
total_bikes    16.000000
Name: 36, dtype: float64
Unnamed: 0      0.000000
lat            43.637960
long          -79.387502
total_bikes    27.000000
Name: 37, dtype: float64
Unnamed: 0      0.000000
lat            43.656389
long          -79.451667
total_bikes    15.000000
Name: 38, dtype: float64
Unnamed: 0      0.000000
lat            43.639179
long          -79.399595
total_bikes    19.000000
Name: 39, dtype: float64
Unnamed: 0      0.000000
lat            43.632244
long          -79.410810
total_bikes    27.000000
Name: 40, dtype: float64
Unnamed: 0      0.000000
lat            43.661667
long          -79.401389
total_bikes    15.000000
Name: 41, dtype: float64
Unnamed: 0      0.000000
lat            43.666667
long          -79.458333
total_bikes    19.000000
Name: 42, dtype: float64
Unnamed: 0      0.000000
lat            43.657192
long          -79.452559
total_bikes    15.000000
Name: 43, dtype: float64
Unnamed: 0      0.0000
lat            43.6576
long          -79.4032
total_bikes    11.0000
Name: 44, dtype: float64
Unnamed: 0      0.000000
lat            43.660694
long          -79.379052
total_bikes    17.000000
Name: 45, dtype: float64
Unnamed: 0      0.000000
lat            43.636533
long          -79.395854
total_bikes    27.000000
Name: 46, dtype: float64
Unnamed: 0      0.000000
lat            43.640132
long          -79.380464
total_bikes    56.000000
Name: 47, dtype: float64
Unnamed: 0      0.000000
lat            43.659777
long          -79.382767
total_bikes    19.000000
Name: 48, dtype: float64
Unnamed: 0      0.000000
lat            43.643667
long          -79.380414
total_bikes    11.000000
Name: 49, dtype: float64
Unnamed: 0      0.000000
lat            43.666233
long          -79.373327
total_bikes    23.000000
Name: 50, dtype: float64
Unnamed: 0      0.000000
lat            43.640114
long          -79.393249
total_bikes    23.000000
Name: 51, dtype: float64
Unnamed: 0      0.000000
lat            43.636667
long          -79.419722
total_bikes    23.000000
Name: 52, dtype: float64
Unnamed: 0      0.000000
lat            43.653766
long          -79.401676
total_bikes    15.000000
Name: 53, dtype: float64
Unnamed: 0      0.000000
lat            43.658773
long          -79.443054
total_bikes    23.000000
Name: 54, dtype: float64
Unnamed: 0      0.000000
lat            43.653889
long          -79.441389
total_bikes    15.000000
Name: 55, dtype: float64
Unnamed: 0      0.000000
lat            43.650833
long          -79.443056
total_bikes    19.000000
Name: 56, dtype: float64
Unnamed: 0      0.000000
lat            43.651238
long          -79.438680
total_bikes    15.000000
Name: 57, dtype: float64
Unnamed: 0      0.000000
lat            43.654491
long          -79.422634
total_bikes    11.000000
Name: 58, dtype: float64
Unnamed: 0      0.00000
lat            43.65436
long          -79.46553
total_bikes    11.00000
Name: 59, dtype: float64
Unnamed: 0      0.000000
lat            43.635932
long          -79.465083
total_bikes    19.000000
Name: 60, dtype: float64
Unnamed: 0      0.000000
lat            43.654501
long          -79.460053
total_bikes    12.000000
Name: 61, dtype: float64
Unnamed: 0      0.000000
lat            43.637894
long          -79.454823
total_bikes    27.000000
Name: 62, dtype: float64
Unnamed: 0      0.000000
lat            43.634896
long          -79.467763
total_bikes    19.000000
Name: 63, dtype: float64
Unnamed: 0      0.000000
lat            43.653527
long          -79.465057
total_bikes    23.000000
Name: 64, dtype: float64
Unnamed: 0      0.0000
lat            43.6314
long          -79.4304
total_bikes    31.0000
Name: 65, dtype: float64
Unnamed: 0      0.000000
lat            43.636731
long          -79.444966
total_bikes    19.000000
Name: 66, dtype: float64
Unnamed: 0      0.000000
lat            43.653427
long          -79.451279
total_bikes    12.000000
Name: 67, dtype: float64
Unnamed: 0      0.000000
lat            43.711215
long          -79.398940
total_bikes    16.000000
Name: 68, dtype: float64
Unnamed: 0      0.000000
lat            43.655227
long          -79.392010
total_bikes    15.000000
Name: 69, dtype: float64
Unnamed: 0      0.000000
lat            43.685167
long          -79.349620
total_bikes    12.000000
Name: 70, dtype: float64
Unnamed: 0      0.000000
lat            43.670454
long          -79.390140
total_bikes     9.000000
Name: 71, dtype: float64
Unnamed: 0      0.00000
lat            43.66911
long          -79.38551
total_bikes    22.00000
Name: 72, dtype: float64
Unnamed: 0      0.000000
lat            43.641389
long          -79.404444
total_bikes    15.000000
Name: 73, dtype: float64
Unnamed: 0      0.000000
lat            43.643834
long          -79.396649
total_bikes    15.000000
Name: 74, dtype: float64
Unnamed: 0      0.000000
lat            43.654517
long          -79.389532
total_bikes    19.000000
Name: 75, dtype: float64
Unnamed: 0      0.000000
lat            43.665846
long          -79.404998
total_bikes    18.000000
Name: 76, dtype: float64
Unnamed: 0      0.0000
lat            43.6461
long          -79.3895
total_bikes    12.0000
Name: 77, dtype: float64
Unnamed: 0      0.000000
lat            43.671349
long          -79.294510
total_bikes    11.000000
Name: 78, dtype: float64
Unnamed: 0      0.000000
lat            43.667208
long          -79.312315
total_bikes    15.000000
Name: 79, dtype: float64
Unnamed: 0      0.000000
lat            43.669328
long          -79.288949
total_bikes    19.000000
Name: 80, dtype: float64
Unnamed: 0      0.000000
lat            43.672571
long          -79.289000
total_bikes    15.000000
Name: 81, dtype: float64
Unnamed: 0      0.000000
lat            43.638497
long          -79.391920
total_bikes    19.000000
Name: 82, dtype: float64
Unnamed: 0      0.000000
lat            43.662771
long          -79.315223
total_bikes    15.000000
Name: 83, dtype: float64
Unnamed: 0      0.000000
lat            43.668520
long          -79.363525
total_bikes    11.000000
Name: 84, dtype: float64
Unnamed: 0      0.000000
lat            43.652473
long          -79.401456
total_bikes    15.000000
Name: 85, dtype: float64
Unnamed: 0      0.000000
lat            43.643975
long          -79.419576
total_bikes    23.000000
Name: 86, dtype: float64
Unnamed: 0      0.000000
lat            43.651318
long          -79.360230
total_bikes    19.000000
Name: 87, dtype: float64
Unnamed: 0      0.000000
lat            43.656094
long          -79.381484
total_bikes    15.000000
Name: 88, dtype: float64
Unnamed: 0      0.000000
lat            43.670318
long          -79.405181
total_bikes     9.000000
Name: 89, dtype: float64
Unnamed: 0      0.000000
lat            43.676667
long          -79.416111
total_bikes    27.000000
Name: 90, dtype: float64
Unnamed: 0      0.000000
lat            43.640634
long          -79.435841
total_bikes    23.000000
Name: 91, dtype: float64
Unnamed: 0      0.000000
lat            43.639444
long          -79.423611
total_bikes    15.000000
Name: 92, dtype: float64
Unnamed: 0      0.000000
lat            43.670000
long          -79.420833
total_bikes    11.000000
Name: 93, dtype: float64
Unnamed: 0      0.000000
lat            43.671389
long          -79.416389
total_bikes    15.000000
Name: 94, dtype: float64
Unnamed: 0      0.000
lat            43.680
long          -79.425
total_bikes    19.000
Name: 95, dtype: float64
Unnamed: 0      0.000000
lat            43.639444
long          -79.425278
total_bikes    15.000000
Name: 96, dtype: float64
Unnamed: 0      0.000000
lat            43.675791
long          -79.406980
total_bikes    15.000000
Name: 97, dtype: float64
Unnamed: 0      0.000000
lat            43.675556
long          -79.410278
total_bikes    15.000000
Name: 98, dtype: float64
Unnamed: 0      0.000000
lat            43.674444
long          -79.414722
total_bikes    14.000000
Name: 99, dtype: float64
Unnamed: 0      0.000000
lat            43.671513
long          -79.408317
total_bikes    15.000000
Name: 100, dtype: float64
Unnamed: 0      0.000000
lat            43.678321
long          -79.358220
total_bikes    19.000000
Name: 101, dtype: float64
Unnamed: 0      0.000000
lat            43.684865
long          -79.356602
total_bikes    23.000000
Name: 102, dtype: float64
Unnamed: 0      0.000000
lat            43.683950
long          -79.347046
total_bikes    19.000000
Name: 103, dtype: float64
Unnamed: 0      0.000000
lat            43.690537
long          -79.341307
total_bikes    19.000000
Name: 104, dtype: float64
Unnamed: 0      0.000000
lat            43.704461
long          -79.423122
total_bikes    15.000000
Name: 105, dtype: float64
Unnamed: 0      0.000000
lat            43.659195
long          -79.329196
total_bikes    19.000000
Name: 106, dtype: float64
Unnamed: 0      0.000000
lat            43.651885
long          -79.364900
total_bikes    17.000000
Name: 107, dtype: float64
Unnamed: 0      0.000000
lat            43.682645
long          -79.377557
total_bikes    23.000000
Name: 108, dtype: float64
Unnamed: 0      0.000000
lat            43.647500
long          -79.433056
total_bikes    15.000000
Name: 109, dtype: float64
Unnamed: 0      0.000000
lat            43.649490
long          -79.393535
total_bikes     7.000000
Name: 110, dtype: float64
Unnamed: 0      0.000000
lat            43.671526
long          -79.448740
total_bikes    19.000000
Name: 111, dtype: float64
Unnamed: 0      0.000000
lat            43.645164
long          -79.383176
total_bikes    18.000000
Name: 112, dtype: float64
Unnamed: 0      0.000000
lat            43.645297
long          -79.382791
total_bikes    19.000000
Name: 113, dtype: float64
Unnamed: 0      0.000000
lat            43.645209
long          -79.396074
total_bikes    19.000000
Name: 114, dtype: float64
Unnamed: 0      0.000000
lat            43.655556
long          -79.433611
total_bikes    19.000000
Name: 115, dtype: float64
Unnamed: 0      0.000000
lat            43.678077
long          -79.390328
total_bikes    17.000000
Name: 116, dtype: float64
Unnamed: 0      0.000000
lat            43.645665
long          -79.415345
total_bikes    19.000000
Name: 117, dtype: float64
Unnamed: 0      0.000000
lat            43.649347
long          -79.426680
total_bikes     8.000000
Name: 118, dtype: float64
Unnamed: 0      0.000000
lat            43.667266
long          -79.443946
total_bikes    16.000000
Name: 119, dtype: float64
Unnamed: 0      0.000000
lat            43.660207
long          -79.361275
total_bikes    27.000000
Name: 120, dtype: float64
Unnamed: 0      0.000000
lat            43.648655
long          -79.367061
total_bikes    27.000000
Name: 121, dtype: float64
Unnamed: 0      0.000000
lat            43.648711
long          -79.389728
total_bikes    31.000000
Name: 122, dtype: float64
Unnamed: 0      0.000000
lat            43.660560
long          -79.343766
total_bikes    15.000000
Name: 123, dtype: float64
Unnamed: 0      0.000000
lat            43.656111
long          -79.361389
total_bikes    15.000000
Name: 124, dtype: float64
Unnamed: 0      0.000000
lat            43.652219
long          -79.354455
total_bikes    39.000000
Name: 125, dtype: float64
Unnamed: 0      0.000000
lat            43.650279
long          -79.356832
total_bikes    15.000000
Name: 126, dtype: float64
Unnamed: 0      0.000000
lat            43.652686
long          -79.358395
total_bikes    15.000000
Name: 127, dtype: float64
Unnamed: 0      0.000000
lat            43.649147
long          -79.395504
total_bikes    11.000000
Name: 128, dtype: float64
Unnamed: 0      0.000000
lat            43.643795
long          -79.375413
total_bikes    39.000000
Name: 129, dtype: float64
Unnamed: 0      0.000000
lat            43.662085
long          -79.397735
total_bikes    17.000000
Name: 130, dtype: float64
Unnamed: 0      0.000000
lat            43.659575
long          -79.365769
total_bikes    15.000000
Name: 131, dtype: float64
Unnamed: 0      0.000000
lat            43.652050
long          -79.362198
total_bikes    19.000000
Name: 132, dtype: float64
Unnamed: 0      0.000000
lat            43.668456
long          -79.393899
total_bikes    19.000000
Name: 133, dtype: float64
Unnamed: 0      0.000000
lat            43.639052
long          -79.399792
total_bikes    20.000000
Name: 134, dtype: float64
Unnamed: 0      0.000000
lat            43.644862
long          -79.428220
total_bikes    16.000000
Name: 135, dtype: float64
Unnamed: 0      0.000000
lat            43.656389
long          -79.409167
total_bikes    19.000000
Name: 136, dtype: float64
Unnamed: 0      0.000000
lat            43.640900
long          -79.432837
total_bikes    19.000000
Name: 137, dtype: float64
Unnamed: 0      0.000000
lat            43.643056
long          -79.427500
total_bikes    23.000000
Name: 138, dtype: float64
Unnamed: 0      0.000000
lat            43.660414
long          -79.415646
total_bikes    15.000000
Name: 139, dtype: float64
Unnamed: 0      0.000000
lat            43.661975
long          -79.407896
total_bikes    11.000000
Name: 140, dtype: float64
Unnamed: 0      0.000000
lat            43.659050
long          -79.422988
total_bikes    11.000000
Name: 141, dtype: float64
Unnamed: 0      0.000000
lat            43.660000
long          -79.408889
total_bikes    11.000000
Name: 142, dtype: float64
Unnamed: 0      0.000000
lat            43.690564
long          -79.326319
total_bikes    23.000000
Name: 143, dtype: float64
Unnamed: 0      0.000000
lat            43.686829
long          -79.311073
total_bikes    20.000000
Name: 144, dtype: float64
Unnamed: 0      0.000000
lat            43.688325
long          -79.300463
total_bikes    15.000000
Name: 145, dtype: float64
Unnamed: 0      0.00000
lat            43.65716
long          -79.46478
total_bikes    27.00000
Name: 146, dtype: float64
Unnamed: 0      0.000000
lat            43.652508
long          -79.465423
total_bikes    23.000000
Name: 147, dtype: float64
Unnamed: 0      0.00000
lat            43.67720
long          -79.35858
total_bikes    15.00000
Name: 148, dtype: float64
Unnamed: 0      0.000000
lat            43.662712
long          -79.379903
total_bikes    19.000000
Name: 149, dtype: float64
Unnamed: 0      0.000000
lat            43.658938
long          -79.383518
total_bikes    25.000000
Name: 150, dtype: float64
Unnamed: 0      0.000000
lat            43.683378
long          -79.322961
total_bikes    15.000000
Name: 151, dtype: float64
Unnamed: 0      0.000000
lat            43.642564
long          -79.376200
total_bikes    15.000000
Name: 152, dtype: float64
Unnamed: 0      0.0000
lat            43.6521
long          -79.4486
total_bikes    12.0000
Name: 153, dtype: float64
Unnamed: 0      0.000000
lat            43.669969
long          -79.386532
total_bikes    14.000000
Name: 154, dtype: float64
Unnamed: 0      0.000000
lat            43.633473
long          -79.425679
total_bikes    16.000000
Name: 155, dtype: float64
Unnamed: 0      0.000000
lat            43.630254
long          -79.420317
total_bikes    35.000000
Name: 156, dtype: float64
Unnamed: 0      0.000000
lat            43.662403
long          -79.423098
total_bikes    34.000000
Name: 157, dtype: float64
Unnamed: 0      0.000000
lat            43.656945
long          -79.424911
total_bikes    17.000000
Name: 158, dtype: float64
Unnamed: 0      0.000000
lat            43.681735
long          -79.418472
total_bikes    19.000000
Name: 159, dtype: float64

     Unnamed: 0        lat       long  total_bikes
0             0  43.665269 -79.319796           19
1             0  43.671420 -79.445947           15
2             0  43.666224 -79.317693           23
3             0  43.653236 -79.376716           25
4             0  43.663722 -79.380288           15
..          ...        ...        ...          ...
648           0  43.772445 -79.511912           15
649           0  43.653359 -79.365023           11
650           0  43.706436 -79.251044           11
651           0  43.655972 -79.370638           15
652           0  43.666874 -79.381155           12

[653 rows x 4 columns]

In [161]:
location=pd.read_csv('Location_data2h.csv')
all_results = pd.DataFrame()
for i in range (len(location.index)):
    headers = {
        'accept': 'application/json',
        'Authorization':api_key
    }
    parameters = {
        'radius':'10000',
        'categories':13065,
        'fields':'name,distance,rating,location',
        'll':str(location.iloc[i][1]) + ',' + str(location.iloc[i][2])
    }
    result = requests.get(url, headers=headers, params=parameters)

    result=result.json()
    for poi in result['results']:
        tmp_df = pd.DataFrame()
        # This df will be constructed
        try:dist = poi['distance']
        except: dist = 0
        try:rate = poi['rating']
        except:rate = 0
        tmp_df = pd.concat([
            tmp_df,
            pd.Series(poi['name'],name='restaurant_name'),
            pd.Series(dist,name='distance'),
            pd.Series(rate,name='rating'),
            pd.Series(poi['location']['address'],name='location')
        ],
        axis=1 # horizontal concat
        )
        all_results = pd.concat([all_results,tmp_df])
all_results

             restaurant_name  distance  rating            location
0                     Te Aro      1570     8.9      983 Queen St E
0              Boxcar Social      2262     8.9       4 Boulton Ave
0        House on Parliament      3867     8.9   454 Parliament St
0             Neo Coffee Bar      4293     9.0    161 Frederick St
0               Cluny Bistro      3467     8.5  35 Tank House Lane
..                       ...       ...     ...                 ...
0                        Pai      2188     9.2        18 Duncan St
0             Neo Coffee Bar      2035     9.0    161 Frederick St
0                     Eataly       687     8.4       55 Bloor St W
0   The Keg Steakhouse + Bar      1891     8.8         165 York St
0                Tim Hortons       976     8.5     70 Gerrard St W

[6530 rows x 4 columns]

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [221]:
all_results.to_csv("Part2.csv")

In [153]:
all_results

             restaurant_name  distance  rating            location
0                     Te Aro      1570     8.9      983 Queen St E
0              Boxcar Social      2262     8.9       4 Boulton Ave
0        House on Parliament      3867     8.9   454 Parliament St
0             Neo Coffee Bar      4293     9.0    161 Frederick St
0               Cluny Bistro      3467     8.5  35 Tank House Lane
..                       ...       ...     ...                 ...
0                        Pai      2188     9.2        18 Duncan St
0             Neo Coffee Bar      2035     9.0    161 Frederick St
0                     Eataly       687     8.4       55 Bloor St W
0   The Keg Steakhouse + Bar      1891     8.8         165 York St
0                Tim Hortons       976     8.5     70 Gerrard St W

[6530 rows x 4 columns]

In [154]:
for poi in result['results']:
    print('distance',poi['distance'])
    print('name',poi['name'])
    print('rating',poi['rating'])

distance 229
name The Keg Steakhouse & Bar
rating 8.9
distance 1127
name House on Parliament
rating 8.9
distance 1591
name The Library Specialty Coffee
rating 8.9
distance 465
name Hair of the Dog
rating 8.5
distance 1931
name HotBlack Coffee
rating 9.0
distance 2188
name Pai
rating 9.2
distance 2035
name Neo Coffee Bar
rating 9.0
distance 687
name Eataly
rating 8.4
distance 1891
name The Keg Steakhouse + Bar
rating 8.8
distance 976
name Tim Hortons
rating 8.5

Put your parsed results into a DataFrame

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [172]:
yelp_api=os.environ['yelp_api']
url= 'https://api.yelp.com/v3/businesses/search'
headers = { 
    'accept':'application/json',
    'Authorization' : 'Bearer ' + yelp_api
    }
params = {
    'latitude' : '43.653226', # long and lat have to be passed seperately for this API.
    'longitude' : '-79.3831843',
    'radius' : 1000, # same radius
    'limit' : '50' ,# 50 is the max limit
    'categories':'restaurants',
    'fields':'name,distance,rating,location'
    
}
# Add key with our API KEY

result1 = requests.get(url, headers=headers,params=params)
result1=result1.json()
result1

{'error': {'code': 'ACCESS_LIMIT_REACHED',
  'description': "You've reached the access limit for this client. See instructions for requesting a higher access limit at https://www.yelp.com/developers/documentation/v3/rate_limiting"}}

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [171]:
for result1 in result1 ['businesses']:
 print(result1['name'])
 print(result1['rating'])
 print(result1['location'])

KeyError: 'businesses'

In [167]:
#location = pd.read_csv('Location_data2h.csv')
all_results_1 = pd.DataFrame()
for i in range (len(location.index)):
    headers = {
        'accept': 'application/json',
        'Authorization':'Bearer ' + yelp_api
    }
    parameters = {
        'latitude' :'43.653226', # long and lat have to be passed seperately for this API.
        'longitude' :'-79.3831843',
        'radius' : 1000, # same radius
        'limit' : '50',
        'categories':'restaurant',
        'fields':'name,distance,rating,location',
        'll':str(location.iloc[i][1]) + ',' + str(location.iloc[i][2])
    }
    result1 = requests.get(url, headers=headers, params=parameters)

    result1 = result1.json()
for poi1 in result1 ['businesses']:
        tmp_df_1 = pd.DataFrame()
        # This df will be constructed
        try:dist = poi1['distance']
        except: dist = 0
        try:rate = poi1['rating']
        except:rate = 0
        tmp_df_1 = pd.concat([
            tmp_df_1,
            #pd.Series(result1['name'],name='restaurant_name'),
            pd.Series(dist,name='distance'),
            pd.Series(rate,name='rating'),
            #pd.Series(poi1['location']['address'],name='location')
        ],
        axis=1 # horizontal concat
        )
        all_results_1 = pd.concat([all_results_1,tmp_df_1])
all_results_1

KeyError: 'businesses'

In [169]:
#location = pd.read_csv('Location_data2h.csv')
all_results_1 = pd.DataFrame()
for i in range (len(location.index)):
    headers = {
        'accept': 'application/json',
        'Authorization':'Bearer ' + yelp_api
    }
    parameters = {
        'latitude' :'43.653226', # long and lat have to be passed seperately for this API.
        'longitude' :'-79.3831843',
        'radius' : 1000, # same radius
        'limit' : '50',
        'categories':'restaurant',
        'fields':'name,distance,rating,location',
        'll':str(location.iloc[i][1]) + ',' + str(location.iloc[i][2])
    }
    result1 = requests.get(url, headers=headers, params=parameters)

    result1 = result1.json()
#if len(result1['businesses']) == 0:
 #    print('no point of interest')
#else:
for poi1 in result1 ['businesses']:
        tmp_df_1 = pd.DataFrame()
         # This df will be constructed
        try: dist = poi1['distance']
        except: dist = 0
        try:rate = poi1['rating']
        except:rate = 0
        tmp_df_1 = pd.concat([
            tmp_df_1,
           #pd.Series(result1['name'],name='restaurant_name'),
            pd.Series(dist,name='distance'),
            pd.Series(rate,name='rating'),
            #pd.Series(poi1['location'],name='location')
        ], 
        axis=1 # horizontal concat
        )
        all_results_1 = pd.concat([all_results_1,tmp_df_1])
all_results_1

KeyError: 'businesses'

In [166]:
location = pd.read_csv('Location_data2h.csv')
all_results_1 = pd.DataFrame()
for i in range (len(location.index)):
    headers = {
        'accept': 'application/json',
        'Authorization':'Bearer ' + yelp_api
    }
    parameters = {
        'latitude' :'43.653226', # long and lat have to be passed seperately for this API.
        'longitude' :'-79.3831843',
        'radius' : 1000, # same radius
        'limit' : '50',
        'categories':'restaurant',
        'fields':'name,distance,rating,location',
        'll':str(location.iloc[i][1]) + ',' + str(location.iloc[i][2])
    }
    result1 = requests.get(url, headers=headers, params=parameters)

    result1 = result1.json()
if len(result1['businesses']) == 0:
     print('no point of interest')
else:
    for poi1 in result1 ['businesses']:
        tmp_df_1 = pd.DataFrame()
         # This df will be constructed
        try: dist = poi1['distance']
        except: dist = 0
        try:rate = poi1['rating']
        except:rate = 0
        tmp_df_1 = pd.concat([
            tmp_df_1,
           pd.Series(result1['name'],name='restaurant_name'),
            pd.Series(dist,name='distance'),
            pd.Series(rate,name='rating'),
            pd.Series(poi1['location'],name='location')
        ], 
        axis=1 # horizontal concat
        )
        all_results_1 = pd.concat([all_results_1,tmp_df_1])
all_results_1

KeyError: 'businesses'

In [160]:
location = pd.read_csv('Location_data2h.csv')
all_results_1 = pd.DataFrame()
for i in range (len(location.index)):
    headers = {
        'accept': 'application/json',
        'Authorization':'Bearer ' + yelp_api
    }
    parameters = {
        'latitude' :str(location.iloc[i][1]), # long and lat have to be passed seperately for this API.
        'longitude' :str(location.iloc[i][2]),
        'radius' : 1000, # same radius
        'limit' : '50',
        'categories':'restaurant',
        'fields':'name,distance,rating,location'
    }
    result1 = requests.get(url, headers=headers, params=parameters)

    result1 = result1.json()
    #if len(result1['businesses']) == 0:
       # print('no point of interest')
    #else:
for poi1 in result1 ['businesses']:
           
            tmp_df_1 = pd.DataFrame()
            # This df will be constructed
            try: dist = poi1['distance']
            except: dist = 0
            try:rate = poi1['rating']
            except:rate = 0
            tmp_df_1 = pd.concat([
                tmp_df_1,
                pd.Series(result1['name'],name='restaurant_name'),
                pd.Series(dist,name='distance'),
                pd.Series(rate,name='rating'),
                pd.Series(poi1['location']['address'],name='location')
            ], 
            axis=1 # horizontal concat
            )
            all_results_1 = pd.concat([all_results_1,tmp_df_1])
all_results_1

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [101]:
data = result.text
json.loads(data)

AttributeError: 'dict' object has no attribute 'text'

Put your parsed results into a DataFrame

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating